/**
* forms.css
*   Specific design for forms
**/

form div.hidden {
    display: none;
}

form div.bad-control {
    color: rgba(255,10,10,1);
    font-size: .8em;
    letter-spacing: .2em;
}

.name-form{
    margin-top: 10px;
}

.email-form{
    margin-top: 10px;
}

.phone-form{
    margin-top: 10px;
}

.outer-modal.hidden{
    display: none;
}